@import "https://media.axerve.com/fonts/averta.css";

.sf-landing-page {
  font-family: "AvertaPE", Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 16px;
  line-height: 150%;
  text-rendering: geometricprecision;
  -webkit-font-smoothing: antialiased;
}

h1, p {
  margin: 0;
  padding: 0;
}

a, a:visited {
  text-decoration: underline !important;
  color: #00466E !important;
}

section.row {
  min-height: auto !important;
}

.sf-landing-page h1 {
  font-family: "AvertaPE", Arial, Helvetica, sans-serif;
  font-size: 48px;
  line-height: 120%;
  font-weight: 700;
  color: #333333;
}

.sf-landing-page p {
  font-family: "AvertaPE", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
  color: #333333;
}

@media screen and (max-width: 600px) {
  .sf-landing-page h1 {
    font-size: 32px;
  }
}

/* Form */
.field-label {
  font-family: "AvertaPE", Arial, Helvetica, sans-serif !important;
  font-weight: 500 !important;
  margin-bottom: 0 !important;
  color: #333333 !important;
}

.element-container {
  font-family: "AvertaPE", Arial, Helvetica, sans-serif !important;
  color: #333333 !important;
}

.submit-box-container > .element-container {
  color: #FFFFFF !important;
}

.required-field {
  display: none !important;
}

#field37 .field-label {
  display: none !important;
}

.radio-check {
  margin: 0 !important;
}

.radio-check-label {
  margin-top: 8px !important;
  margin-left: 8px !important;
}


/* Footer */
#footer {
  border-top: 1px solid #DDDDDD !important;
}

#footer > section {
  min-height: inherit !important;
}

#footer p {
  font-size: 12px;
  margin-bottom: 12px;
}

#footer a, #footer a:visited {
  color: #333333 !important;
  text-decoration: none !important;
}
