@import "https://media.axerve.com/fonts/averta.css";

.sf-landing-page {
  font-family: "AvertaPE", Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 16px;
  line-height: 150%;
  text-rendering: geometricprecision;
  -webkit-font-smoothing: antialiased;
}

h1, p {
  margin: 0;
  padding: 0;
}

.sf-landing-page h1 {
  font-family: "AvertaPE", Arial, Helvetica, sans-serif;
  font-size: 48px;
  line-height: 120%;
  font-weight: 700;
}

.sf-landing-page p {
  font-family: "AvertaPE", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
}

@media screen and (max-width: 600px) {
  .sf-landing-page h1 {
    font-size: 32px;
  }
}

#footer p {
  font-size: 12px;
  margin-bottom: 12px;
}
